package {{ packageId }}.{{ projectName }}.routes

import {{ packageId }}.{{ projectName }}.model.Config
import {{ packageId }}.{{ projectName }}.model.Session

data class SessionResponse(val session: Session, val config: Config)
