package {{ packageId }}.{{ projectName }}.util

import com.typesafe.config.Config
import com.typesafe.config.ConfigFactory
import java.time.Duration

class SessionConfig(
    config: Config = ConfigFactory
        .parseResourcesAnySyntax("session")
        .resolve()
        .getConfig("session")
) {
    {% for itemName, item in pillar.modules.backend.config.session.items() %}
    val {{ itemName }}: {{ item.type }} = config.get{{ item.type }}("{{ itemName }}")
    {%- endfor %}
}
